<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="userLoginForm" (submit)="userLogin()">
    <ion-item>
      <ion-label>Username : </ion-label>
      <ion-input
        formControlName="username"
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password : </ion-label>
      <ion-input
        formControlName="password"
        type="password"
      >
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!userLoginForm.valid">
      Login
    </ion-button>
  </form>
  <a class="create-account" routerLink="/create-account">Create account</a>
</ion-content>
